header {
  background: #f3fbfe;
  padding: 1vh;
  .headText {
    border-left: 4px solid #5cbbff;
    color: #5cbbff;
    margin: 7vh;
    margin-left: 20%;
    text-align: left;
    padding-left: 2%;
    font-size: 10px;
    #mainHead {
      color: #022f78;
      font-size: 70px;
    }
    #subHead {
      font-size: 50px;
    }
  }
}

.page-wrapper {
  text-align: center;
  min-height: 40vh;
  .page-block {
    display: inline-block;
    padding: 1vh;
    margin: 5vh;
    align-self: center;
    width: 60%;
    min-height: 40%;
    .account-details {
      margin-bottom: 2vh;
      margin-top: 2vh;
      padding-bottom: 2vh;
      padding-top: 2vh;
      text-align: left;
      color: #134494;
    }
    .available-services {
      margin-bottom: 2vh;
      text-align: left;
      color: #134494;
      padding-bottom: 2vh;
      padding-top: 2vh;
    }
    .button-table {
      margin-bottom: 2vh;
      tr {
        width: 100%;
      }
      td {
        width: 100%;
        padding: 1vh;
      }
      #leftCell {
        text-align: left;
        min-width: 25vh;
      }
      #rightCell {
        text-align: right;
        min-width: 25vh;
      }
      button {
        border-radius: 10vh;
      }
    }
  }
}
