header {
  background: #f2fcff;
  padding: 1vh;
}

header .headText {
  border-left: 4px solid #5cbbff;
  color: #5cbbff;
  margin: 7vh;
  margin-left: 20%;
  text-align: left;
  padding-left: 2%;
  font-size: 10px;
}

header .headText #mainHead {
  color: #022f78;
  font-size: 70px;
}

header .headText #subHead {
  font-size: 50px;
}

#actionName {
  display: inline-block;
  padding-left: 0.5vh;
  font-weight: bold;
}

.page-wrapper {
  text-align: center;
  min-height: 40vh;
}

.page-wrapper .page-block {
  display: inline-block;
  padding: 1vh;
  margin: 1vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 60%;
  min-height: 40%;
}

.page-wrapper .page-block .account-details {
  margin-bottom: 2vh;
  margin-top: 2vh;
  padding-bottom: 2vh;
  padding-top: 2vh;
  text-align: left;
  color: #234f9e;
}

.page-wrapper .page-block .account-details table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2vh;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-radius: 8px;
  border-style: hidden;
  -webkit-box-shadow: 0 0 0 1px #ddd;
          box-shadow: 0 0 0 1px #ddd;
}

.page-wrapper .page-block .account-details table,
.page-wrapper .page-block .account-details td {
  color: black;
  border-collapse: collapse;
  border-radius: 8px;
  padding: 1.75vh;
}

.page-wrapper .page-block .account-details .headCol {
  color: #234f9e;
  border-right: 1px solid #ddd;
}

.page-wrapper .page-block .account-details .topRow {
  border-bottom: 1px solid #ddd;
}

.page-wrapper .page-block .available-services {
  margin-bottom: 2vh;
  text-align: left;
  color: #234f9e;
  padding-bottom: 3vh;
  padding-top: 4vh;
}

.page-wrapper .page-block .available-services table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2vh;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-radius: 8px;
  border-style: hidden;
  -webkit-box-shadow: 0 0 0 1px #ddd;
          box-shadow: 0 0 0 1px #ddd;
}

.page-wrapper .page-block .available-services table,
.page-wrapper .page-block .available-services td {
  color: black;
  padding: 1vh;
}

.page-wrapper .page-block .available-services th {
  color: #234f9e;
  padding-right: 1vh;
  padding-left: 1vh;
  font-weight: 600;
}

.page-wrapper .page-block .available-services tr {
  border: 1px solid #ddd;
}

.page-wrapper .page-block .available-services .service {
  color: #5cbbff;
  font-weight: 400;
}

.page-wrapper .page-block .button-table {
  margin-bottom: 2vh;
  padding-top: 4vh;
}

.page-wrapper .page-block .button-table tr {
  width: 100%;
}

.page-wrapper .page-block .button-table td {
  width: 100%;
  padding: 1vh;
}

.page-wrapper .page-block .button-table #leftCell {
  text-align: left;
  min-width: 25vh;
}

.page-wrapper .page-block .button-table #rightCell {
  text-align: right;
  min-width: 25vh;
}

.page-wrapper .page-block .button-table button {
  border-radius: 10vh;
}

.page-wrapper .page-block .button-table .MuiButton-containedPrimary {
  color: #fff;
  background-color: #1176b6;
  font-weight: 300;
  text-transform: none;
}

.page-wrapper .page-block .button-table .MuiButton-outlinedPrimary {
  color: #1176b6;
  border: 1px solid #1176b6;
  text-transform: none;
}
/*# sourceMappingURL=style.css.map */