header {
  background: #f3fbfe;
  padding: 1vh;
}

h1 {
  color: #1c3d54;
}

.headText {
  border-left: 4px solid #73c5ff;
  color: #73c5ff;
  margin: 1vh;
  margin-left: 20%;
  text-align: left;
  padding-left: 2%;
}
